img{
    border-radius: 7px;
}

#produto{
    background-color: aqua;
    margin-top: 0;
}

.bg{
    background-color: aqua;
}

#title{
    padding: 5px;
    margin-top: 0;
    width: 37.5em;
    border-radius: 1px 1px 0 0;
}

.form1{
    margin-bottom: 8px;
}